<li>{% assign entry = include.item %}{% assign user_url = entry.user_url %}{% if entry.platform == 'rss' %}{% assign user_url = entry.user_url | relative_url %}{% endif %}
  <a {% unless entry.platform == 'rss' or entry.platform == 'gmail' %}rel="me" {% endunless %}href="{{ user_url }}"{% unless entry.platform == 'gmail' %} target="_blank"{% endunless %} title="{{ entry.title | default: entry.platform }}">
    <svg class="svg-icon grey">
      <use xlink:href="{{ '/assets/minima-social-icons.svg#' | append: entry.platform | relative_url }}"></use>
    </svg>
  </a>
</li>
